.app_root {
  height: 100%;
  display: grid;
  grid-template-rows: calc(100% - 72px) 72px;
  margin-left: 8px;
  margin-right: 8px;
}

.contents {
  width: 100%;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: repeat(5, 20%);
}

.bottom {
  width: 100%;
  grid-row: 2 / 3;
}

.action_root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
