.root {
  display: grid;
  grid-template-columns: 140px 1fr 80px 80px;
  align-items: center;

  input[type='file'] {
    display: none;
  }
}

.input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.label {
  background: #39f;
  color: white;
  font-size: 0.8rem;
  padding: 8px 10px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin-right: 8px;
  &:hover {
    opacity: 0.7;
    transition: 0.3s ease-out;
  }
}

.dirbutton {
  margin-left: 8px;
}
